{% extends "AAS/draft.html" %}
{% block title %} Dashboard {% endblock title %}
{% block body %}

  </div>
<div class="dashboard"> 
  <div class="titl"> 
  Dashboard
  </div>
  <div class="contnt"> 
      <div class="lftsec"> 
              <div class="lseci"> 
                  <div class="lsecittl"> Event</div>
                  <div class="lsecidt"> {{date}}</div>
                  <div class="lsecihstry">No event Today </div>
              </div>
          <div class="lsecii">
              <div class="lseciittl">Notification 
              </div>
              
              <div class="lseciintifctin">
                  <div class="ntifctin"><span>Lorem ipsum</span> </div>
                  <div class="ntifctin"><span>Lorem ipsum</span> </div>
                  <div class="ntifctin"><span>Lorem ipsum</span> </div>
                  <div class="ntifctin"><span>Lorem ipsum</span> </div> 
                 
                  
          
              </div> 
          </div>
      </div>
      <div class="ritsec"> 
          <div class="rseci"> Recent Activities</div>
          <div class="rsecii"> 
          <div class="rseciiact">
              <div class="contentl"> Lorem ipsum</div>
              <div class="content"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id nibh</div>
          </div>
          <div class="rseciiact"> <div class="contentl"> Lorem ipsum</div>
              <div class="content"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id nibh</div>
          </div>
          </div>
      </div>
  </div>
</div>

{% endblock body %}
           